In [1]:
import pandas as pd

In [80]:
df_old_22=pd.read_csv('./서울교통공사_역별 일별 시간대별 노인 승하차인원 정보_20220531.csv', encoding='cp949')
df_old_21=pd.read_csv('./서울교통공사_역별 일별 시간대별 노인 승하차인원_20211231.csv', encoding='cp949')

In [81]:
df_old_22['구분']=df_old_22['구분'].str.split(' ').str[2]

In [82]:
df_old_22.head()

,연번,일자,역번호,역명,구분,06시이전,06시-07시,07시-08시,08시-09시,09시-10시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시이후
0,1,2022-01-01,150,서울역,승차,36,33.0,24.0,41.0,82.0,...,164.0,186.0,199.0,163.0,114.0,69.0,53.0,61.0,17.0,9
1,2,2022-01-01,150,서울역,하차,21,101.0,62.0,76.0,127.0,...,170.0,187.0,199.0,124.0,85.0,55.0,44.0,37.0,9.0,2
2,3,2022-01-01,151,시청,승차,13,20.0,14.0,14.0,18.0,...,67.0,98.0,88.0,83.0,34.0,30.0,28.0,17.0,17.0,1
3,4,2022-01-01,151,시청,하차,7,26.0,23.0,27.0,29.0,...,92.0,52.0,45.0,37.0,13.0,5.0,7.0,6.0,5.0,1
4,5,2022-01-01,152,종각,승차,12,29.0,18.0,31.0,33.0,...,150.0,173.0,142.0,127.0,60.0,76.0,63.0,39.0,10.0,3

In [83]:
df_old=pd.concat([df_old_21,df_old_22], axis=0)

In [84]:
df_old.drop(columns='연번', inplace=True)
df_old.dropna(axis=0, inplace=True)

In [85]:
df_old=df_old.reset_index().drop(columns='index')

In [86]:
# 호선 열 생성
for i in range(0, len(df_old)):
    if len(str(df_old.iloc[i]['역번호']))==3:
        df_old.loc[i, '호선']=str(df_old.iloc[i]['역번호'])[0]+'호선'
    else:
        df_old.loc[i, '호선']=str(df_old.iloc[i]['역번호'])[1]+'호선'

In [87]:
df_old.drop(columns=['역번호'], inplace=True)

In [88]:
df_old=df_old.groupby(by=['역명','구분','호선']).mean().reset_index()

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_8808\1133549318.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_old=df_old.groupby(by=['역명','구분','호선']).mean().reset_index()

In [89]:
df_old.sort_values(['호선','역명'], inplace=True)

In [90]:
# 출퇴근 시간대 데이터 추출
df_old_g=df_old[['역명','호선','구분','07시-08시','08시-09시','09시-10시']] # 출근
df_old_l=df_old[['역명','호선','구분','17시-18시','18시-19시','19시-20시']] # 퇴근