# 지하철 월별 시간대별 이용현황

In [1]:
import pandas as pd

In [2]:
# 데이터 로드
df = pd.read_csv('./서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding='cp949')

## 1. 데이터 확인 및 전처리

In [3]:
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202301,1호선,동대문,717,11,9399,1791,7814,5063,11183,...,7667,529,2104,5,254,0,0,0,0,20230203
1,202301,1호선,동묘앞,176,5,2429,929,3063,4244,5788,...,3400,80,1320,3,330,0,0,0,0,20230203
2,202301,1호선,서울역,555,27,6560,7430,11059,41800,36434,...,12316,3388,2777,69,235,0,5,0,0,20230203
3,202301,1호선,시청,95,0,2103,3753,3123,19320,6859,...,3160,353,703,1,22,0,0,0,0,20230203
4,202301,1호선,신설동,273,6,7568,1962,8198,6829,18129,...,7998,319,1941,3,28,1,0,0,0,20230203

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56951 entries, 0 to 56950
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           56951 non-null  int64
 1   호선명           56951 non-null  object
 2   지하철역          56951 non-null  object
 3   04시-05시 승차인원  56951 non-null  int64
 4   04시-05시 하차인원  56951 non-null  int64
 5   05시-06시 승차인원  56951 non-null  int64
 6   05시-06시 하차인원  56951 non-null  int64
 7   06시-07시 승차인원  56951 non-null  int64
 8   06시-07시 하차인원  56951 non-null  int64
 9   07시-08시 승차인원  56951 non-null  int64
 10  07시-08시 하차인원  56951 non-null  int64
 11  08시-09시 승차인원  56951 non-null  int64
 12  08시-09시 하차인원  56951 non-null  int64
 13  09시-10시 승차인원  56951 non-null  int64
 14  09시-10시 하차인원  56951 non-null  int64
 15  10시-11시 승차인원  56951 non-null  int64
 16  10시-11시 하차인원  56951 non-null  int64
 17  11시-12시 승차인원  56951 non-null  int64
 18  11시-12시 하차인원  56951 non-null  int64
 19  12시-13시 승차인원  56951 non-null  int64
 20  12시-13시 하차인원  56951 non-null  int64
 21  13시-14시 승차인원  56951 non-null  int64
 22  13시-14시 하차인원  56951 non-null  int64
 23  14시-15시 승차인원  56951 non-null  int64
 24  14시-15시 하차인원  56951 non-null  int64
 25  15시-16시 승차인원  56951 non-null  int64
 26  15시-16시 하차인원  56951 non-null  int64
 27  16시-17시 승차인원  56951 non-null  int64
 28  16시-17시 하차인원  56951 non-null  int64
 29  17시-18시 승차인원  56951 non-null  int64
 30  17시-18시 하차인원  56951 non-null  int64
 31  18시-19시 승차인원  56951 non-null  int64
 32  18시-19시 하차인원  56951 non-null  int64
 33  19시-20시 승차인원  56951 non-null  int64
 34  19시-20시 하차인원  56951 non-null  int64
 35  20시-21시 승차인원  56951 non-null  int64
 36  20시-21시 하차인원  56951 non-null  int64
 37  21시-22시 승차인원  56951 non-null  int64
 38  21시-22시 하차인원  56951 non-null  int64
 39  22시-23시 승차인원  56951 non-null  int64
 40  22시-23시 하차인원  56951 non-null  int64
 41  23시-24시 승차인원  56951 non-null  int64
 42  23시-24시 하차인원  56951 non-null  int64
 43  00시-01시 승차인원  56951 non-null  int64
 44  00시-01시 하차인원  56951 non-null  int64
 45  01시-02시 승차인원  56951 non-null  int64
 46  01시-02시 하차인원  56951 non-null  int64
 47  02시-03시 승차인원  56951 non-null  int64
 48  02시-03시 하차인원  56951 non-null  int64
 49  03시-04시 승차인원  56951 non-null  int64
 50  03시-04시 하차인원  56951 non-null  int64
 51  작업일자          56951 non-null  int64
dtypes: int64(50), object(2)
memory usage: 22.6+ MB

In [5]:
# 1시~4시 사이의 데이터를 '1시 이후 승차', '1시 이후 하차'로 변경
df['1시 이후 승차'] = df[['01시-02시 승차인원', '02시-03시 승차인원', '03시-04시 승차인원']].sum(axis=1)
df['1시 이후 하차'] = df[['01시-02시 하차인원', '02시-03시 하차인원', '03시-04시 하차인원']].sum(axis=1)

In [6]:
# 필요없는 column 삭제
df.drop(['01시-02시 승차인원', '02시-03시 승차인원', '03시-04시 승차인원', 
         '01시-02시 하차인원', '02시-03시 하차인원', '03시-04시 하차인원', '작업일자'], axis=1, inplace=True)

In [7]:
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,21시-22시 승차인원,21시-22시 하차인원,22시-23시 승차인원,22시-23시 하차인원,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,1시 이후 승차,1시 이후 하차
0,202301,1호선,동대문,717,11,9399,1791,7814,5063,11183,...,11599,11037,8798,9563,4311,7667,529,2104,5,254
1,202301,1호선,동묘앞,176,5,2429,929,3063,4244,5788,...,4077,5289,3044,5416,1264,3400,80,1320,3,330
2,202301,1호선,서울역,555,27,6560,7430,11059,41800,36434,...,78469,35664,51553,24666,21933,12316,3388,2777,69,240
3,202301,1호선,시청,95,0,2103,3753,3123,19320,6859,...,44866,7006,28432,4998,9485,3160,353,703,1,22
4,202301,1호선,신설동,273,6,7568,1962,8198,6829,18129,...,11208,12550,7695,11005,3532,7998,319,1941,4,28

In [8]:
df.호선명.unique()

array(['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선',
       '9호선2~3단계', '경강선', '경부선', '경원선', '경의선', '경인선', '경춘선', '공항철도 1호선',
       '과천선', '분당선', '수인선', '신림선', '안산선', '우이신설선', '일산선', '장항선', '중앙선',
       '9호선2단계'], dtype=object)

### 1호선 전처리

In [9]:
# 1호선 역 이름 확인
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.unique()

array(['동대문', '동묘앞', '서울역', '시청', '신설동', '제기동', '종각', '종로3가', '종로5가',
       '청량리(서울시립대입구)', '가산디지털단지', '관악', '광명', '구로', '군포', '금정', '금천구청',
       '남영', '노량진', '당정', '대방', '독산', '두정', '명학', '병점', '서동탄', '서정리',
       '석수', '성균관대', '성환', '세류', '세마', '송탄', '수원', '신길', '신도림', '안양',
       '영등포', '오산', '오산대', '용산', '의왕', '직산', '진위', '천안', '평택', '평택지제',
       '화서', '가능', '광운대', '녹양', '녹천', '덕계', '덕정', '도봉', '도봉산', '동두천',
       '동두천중앙', '망월사', '방학', '보산', '서빙고', '석계', '소요산', '신이문', '양주', '옥수',
       '왕십리(성동구청)', '외대앞', '월계', '응봉', '의정부', '이촌(국립중앙박물관)', '지행', '창동',
       '한남', '회룡', '간석', '개봉', '구일', '도원', '도화', '동암', '동인천', '백운', '부개',
       '부천', '부평', '소사', '송내', '역곡', '오류동', '온수(성공회대입구)', '인천', '제물포',
       '주안', '중동', '배방', '봉명', '신창(순천향대)', '쌍용(나사렛대)', '아산', '온양온천', '탕정',
       '지제', '청량리(지하)', '동두천 중앙', '왕십리', '이촌', '청량리(지상)', '온수', '신창',
       '쌍용동'], dtype=object)

In [10]:
# 1호선 역의 개수 확인
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.nunique()

113

In [11]:
# 다르게 표기된 역 이름 수정
df.replace('쌍용동', '쌍용(나사렛대)', inplace=True)
df.replace('청량리(서울시립대입구)', '청량리', inplace=True)
df.replace('동두천 중앙', '동두천중앙', inplace=True)
df.replace('신창(순천향대)', '신창', inplace=True)
df.replace('온수(성공회대입구)', '온수', inplace=True)
df.replace('지제', '평택지제', inplace=True)
df.replace('청량리(지하)', '청량리', inplace=True)
df.replace('청량리(지상)', '청량리', inplace=True)
df.replace('왕십리(성동구청)', '왕십리', inplace=True)
df.replace('이촌(국립중앙박물관)', '이촌', inplace=True)

In [12]:
# 잘못된 호선 수정
df.loc[(df['지하철역'] == '청량리') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '이촌') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '왕십리') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '옥수') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '한남') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '응봉') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '서빙고') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'

In [13]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.nunique()

98

In [14]:
# 회기역이 중앙선으로 빠짐
df.loc[(df['지하철역'].str.contains('회기'))].호선명.unique()

array(['중앙선'], dtype=object)

In [15]:
# '경원선', '경부선', '경인선', '장항선' -> 1호선
df.replace(['경원선', '경부선', '경인선', '장항선'], '1호선', inplace=True)

### 2호선 전처리

In [16]:
# 2호선 역 이름 확인
df[(df['호선명'] == '2호선')].지하철역.unique()

array(['강남', '강변(동서울터미널)', '건대입구', '교대(법원.검찰청)', '구로디지털단지', '구의(광진구청)',
       '낙성대(강감찬)', '당산', '대림(구로구청)', '도림천', '동대문역사문화공원(DDP)', '뚝섬', '문래',
       '방배', '봉천', '사당', '삼성(무역센터)', '상왕십리', '서울대입구(관악구청)', '서초', '선릉',
       '성수', '시청', '신답', '신당', '신대방', '신도림', '신림', '신설동', '신정네거리', '신촌',
       '아현', '양천구청', '역삼', '영등포구청', '왕십리', '용답', '용두(동대문구청)', '을지로3가',
       '을지로4가', '을지로입구', '이대', '잠실(송파구청)', '잠실나루', '잠실새내', '종합운동장',
       '충정로(경기대입구)', '한양대', '합정', '홍대입구', '낙성대', '동대문역사문화공원', '신천', '강변',
       '교대', '구의', '대림', '삼성', '서울대입구', '용두', '잠실', '충정로'], dtype=object)

In [17]:
# 2호선 역의 개수 확인
df[(df['호선명'] == '2호선')].지하철역.nunique()

62

In [18]:
# 다르게 표기된 역 이름 수정
df.replace('강변(동서울터미널)', '강변', inplace=True)
df.replace('교대(법원.검찰청)', '교대', inplace=True)
df.replace('구의(광진구청)', '구의', inplace=True)
df.replace('낙성대(강감찬)', '낙성대', inplace=True)
df.replace('대림(구로구청)', '대림', inplace=True)
df.replace('동대문역사문화공원(DDP)', '동대문역사문화공원', inplace=True)
df.replace('삼성(무역센터)', '삼성', inplace=True)
df.replace('서울대입구(관악구청)', '서울대입구', inplace=True)
df.replace('용두(동대문구청)', '용두', inplace=True)
df.replace('잠실(송파구청)', '잠실', inplace=True)
df.replace('충정로(경기대입구)', '충정로', inplace=True)

In [19]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '2호선')].지하철역.nunique()

51

### 3호선 전처리

In [20]:
# 3호선 역 이름 확인
df[(df['호선명'] == '3호선') | (df['호선명'] == '일산선')].지하철역.unique()

array(['가락시장', '경복궁(정부서울청사)', '경찰병원', '고속터미널', '교대', '구파발', '금호',
       '남부터미널(예술의전당)', '녹번', '대청', '대치', '도곡', '독립문', '동대입구', '매봉', '무악재',
       '불광', '수서', '신사', '안국', '압구정', '약수', '양재(서초구청)', '연신내', '오금', '옥수',
       '을지로3가', '일원', '잠원', '종로3가', '지축', '충무로', '학여울', '홍제', '대곡', '대화',
       '마두', '백석', '삼송', '원당', '원흥', '정발산', '주엽', '화정', '경복궁', '남부터미널',
       '양재'], dtype=object)

In [21]:
# 3호선 역의 개수 확인
df[(df['호선명'] == '3호선') | (df['호선명'] == '일산선')].지하철역.nunique()

47

In [22]:
# 다르게 표기된 역 이름 수정
df.replace('경복궁(정부서울청사)', '경복궁', inplace=True)
df.replace('남부터미널(예술의전당)', '남부터미널', inplace=True)
df.replace('양재(서초구청)', '양재', inplace=True)

In [23]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '3호선') | (df['호선명'] == '일산선')].지하철역.nunique()

44

In [24]:
# '일산선' -> 3호선
df.replace('일산선', '3호선', inplace=True)

### 4호선 전처리

In [25]:
# 4호선 역 이름 확인
df[(df['호선명'] == '4호선') | (df['호선명'] == '안산선') | (df['호선명'] == '과천선')].지하철역.unique()

array(['길음', '남태령', '노원', '당고개', '동대문', '동대문역사문화공원', '동작(현충원)', '명동',
       '미아(서울사이버대학)', '미아사거리', '사당', '삼각지', '상계', '서울역', '성신여대입구(돈암)',
       '수유(강북구청)', '숙대입구(갈월)', '신용산', '쌍문', '이촌', '창동', '총신대입구(이수)',
       '충무로', '한성대입구(삼선교)', '혜화', '회현(남대문시장)', '경마공원', '과천', '대공원', '범계',
       '선바위', '인덕원', '정부과천청사', '평촌', '고잔', '대야미', '반월', '산본', '상록수',
       '수리산', '신길온천', '안산', '오이도', '정왕', '중앙', '초지', '한대앞', '동작', '미아',
       '성신여대입구', '숙대입구', '총신대입구', '한성대입구', '회현'], dtype=object)

In [26]:
# 4호선 역의 개수 확인
df[(df['호선명'] == '4호선') | (df['호선명'] == '안산선') | (df['호선명'] == '과천선')].지하철역.nunique()

54

In [27]:
# 다르게 표기된 역 이름 수정
df.replace('동작(현충원)', '동작', inplace=True)
df.replace('미아(서울사이버대학)', '미아', inplace=True)
df.replace('성신여대입구(돈암)', '성신여대입구', inplace=True)
df.replace('숙대입구(갈월)', '숙대입구', inplace=True)
df.replace('이촌(국립중앙박물관)', '이촌', inplace=True)
df.replace('총신대입구(이수)', '총신대입구', inplace=True)
df.replace('한성대입구(삼선교)', '한성대입구', inplace=True)
df.replace('회현(남대문시장)', '회현', inplace=True)

In [28]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '4호선') | (df['호선명'] == '안산선') | (df['호선명'] == '과천선')].지하철역.nunique()

47

In [29]:
# 금정역이 1호선으로 빠짐
df.loc[(df['지하철역'].str.contains('금정'))].호선명.unique()

array(['1호선'], dtype=object)

In [30]:
# '안산선','과천선' -> 4호선
df.replace(['안산선','과천선'], '4호선', inplace=True)

### 5호선 전처리

In [31]:
# 5호선 역 이름 확인
df[(df['호선명'] == '5호선') | (df['호선명'] == '하남선')].지하철역.unique()

array(['강동', '강일', '개롱', '개화산', '거여', '고덕', '공덕', '광나루(장신대)',
       '광화문(세종문화회관)', '군자(능동)', '굽은다리(강동구민회관앞)', '길동', '김포공항', '까치산',
       '답십리', '동대문역사문화공원', '둔촌동', '마곡', '마장', '마천', '마포', '명일', '목동',
       '미사', '발산', '방이', '방화', '상일동', '서대문', '송정', '신금호', '신길', '신정(은행정)',
       '아차산(어린이대공원후문)', '애오개', '양평', '여의나루', '여의도', '영등포구청', '영등포시장',
       '오금', '오목교(목동운동장앞)', '올림픽공원(한국체대)', '왕십리', '우장산', '을지로4가', '장한평',
       '종로3가', '천호(풍납토성)', '청구', '충정로', '하남검단산', '하남시청(덕풍?신장)', '하남풍산',
       '행당', '화곡', '광나루', '광화문', '군자', '굽은다리', '신정', '아차산', '오목교',
       '올림픽공원', '천호'], dtype=object)

In [32]:
# 5호선 역의 개수 확인
df[(df['호선명'] == '5호선') | (df['호선명'] == '하남선')].지하철역.nunique()

65

In [33]:
# 다르게 표기된 역 이름 수정
df.replace('광나루(장신대)', '광나루', inplace=True)
df.replace('광화문(세종문화회관)', '광화문', inplace=True)
df.replace('군자(능동)', '군자', inplace=True)
df.replace('굽은다리(강동구민회관앞)', '굽은다리', inplace=True)
df.replace('신정(은행정)', '신정', inplace=True)
df.replace('아차산(어린이대공원후문)', '아차산', inplace=True)
df.replace('오목교(목동운동장앞)', '오목교', inplace=True)
df.replace('올림픽공원(한국체대)', '올림픽공원', inplace=True)
df.replace('천호(풍납토성)', '천호', inplace=True)
df.replace('하남시청(덕풍?신장)', '하남시청', inplace=True)

In [34]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '5호선') | (df['호선명'] == '하남선')].지하철역.nunique()

56

In [35]:
# '하남선' -> 5호선
df.replace('하남선', '5호선', inplace=True)

### 6호선 전처리

In [36]:
# 6호선 역 이름 확인
df[(df['호선명'] == '6호선')].지하철역.unique()

array(['고려대(종암)', '공덕', '광흥창(서강)', '구산', '녹사평(용산구청)', '대흥(서강대앞)', '독바위',
       '돌곶이', '동묘앞', '디지털미디어시티', '마포구청', '망원', '버티고개', '보문', '봉화산(서울의료원)',
       '불광', '삼각지', '상수', '상월곡(한국과학기술연구원)', '새절(신사)', '석계', '신내', '신당',
       '안암(고대병원앞)', '약수', '역촌', '연신내', '월곡(동덕여대)', '월드컵경기장(성산)', '응암',
       '이태원', '증산(명지대앞)', '창신', '청구', '태릉입구', '한강진', '합정', '화랑대(서울여대입구)',
       '효창공원앞', '고려대', '광흥창', '대흥', '상월곡', '새절', '안암', '월곡', '월드컵경기장',
       '증산', '화랑대'], dtype=object)

In [37]:
# 6호선 역의 개수 확인
df[(df['호선명'] == '6호선')].지하철역.nunique()

49

In [38]:
# 다르게 표기된 역 이름 수정
df.replace('고려대(종암)', '고려대', inplace=True)
df.replace('광흥창(서강)', '광흥창', inplace=True)
df.replace('대흥(서강대앞)', '대흥', inplace=True)
df.replace('상월곡(한국과학기술연구원)', '상월곡', inplace=True)
df.replace('새절(신사)', '새절', inplace=True)
df.replace('안암(고대병원앞)', '안암', inplace=True)
df.replace('월곡(동덕여대)', '월곡', inplace=True)
df.replace('월드컵경기장(성산)', '월드컵경기장', inplace=True)
df.replace('증산(명지대앞)', '증산', inplace=True)
df.replace('화랑대(서울여대입구)', '화랑대', inplace=True)

In [39]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '6호선')].지하철역.nunique()

39

### 7호선 전처리

In [40]:
# 7호선 역 이름 확인
df[(df['호선명'] == '7호선')].지하철역.unique()

array(['가산디지털단지', '강남구청', '건대입구', '고속터미널', '공릉(서울과학기술대)', '광명사거리', '군자',
       '남구로', '남성', '내방', '노원', '논현', '대림', '도봉산', '뚝섬유원지', '마들', '먹골',
       '면목', '반포', '보라매', '사가정', '상도', '상봉(시외버스터미널)', '수락산', '숭실대입구(살피재)',
       '신대방삼거리', '신풍', '어린이대공원(세종대)', '온수', '용마산(용마폭포공원)', '이수', '장승배기',
       '장암', '중계', '중곡', '중화', '천왕', '철산', '청담', '태릉입구', '하계', '학동',
       '까치울', '부천시청', '부천종합운동장', '신중동', '춘의', '굴포천', '부평구청', '삼산체육관',
       '상동', '용마산', '공릉', '상봉', '숭실대입구', '어린이대공원'], dtype=object)

In [41]:
# 7호선 역의 개수 확인
df[(df['호선명'] == '7호선')].지하철역.nunique()

56

In [42]:
# 다르게 표기된 역 이름 수정
df.replace('공릉(서울과학기술대)', '공릉', inplace=True)
df.replace('상봉(시외버스터미널)', '상봉', inplace=True)
df.replace('숭실대입구(살피재)', '숭실대입구', inplace=True)
df.replace('어린이대공원(세종대)', '어린이대공원', inplace=True)
df.replace('용마산(용마폭포공원)', '용마산', inplace=True)

In [43]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '7호선')].지하철역.nunique()

51

### 8호선 전처리

In [44]:
# 8호선 역 이름 확인
df[(df['호선명'] == '8호선')].지하철역.unique()

array(['가락시장', '강동구청', '남위례', '남한산성입구(성남법원.검찰청)', '단대오거리', '모란',
       '몽촌토성(평화의문)', '문정', '복정', '산성', '석촌', '송파', '수진', '신흥', '암사', '잠실',
       '장지', '천호', '남한산성입구', '몽촌토성'], dtype=object)

In [45]:
# 8호선 역의 개수 확인
df[(df['호선명'] == '8호선')].지하철역.nunique()

20

In [46]:
# 다르게 표기된 역 이름 수정
df.replace('남한산성입구(성남법원.검찰청)', '남한산성입구', inplace=True)
df.replace('몽촌토성(평화의문)', '몽촌토성', inplace=True)

In [47]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '8호선')].지하철역.nunique()

18

### 9호선 전처리

In [48]:
# 9호선 역 이름 확인
df[(df['호선명'] == '9호선') | (df['호선명'] == '9호선2~3단계') | (df['호선명'] == '9호선2단계')].지하철역.unique()

array(['가양', '개화', '고속터미널', '공항시장', '구반포', '국회의사당', '김포공항', '노들', '노량진',
       '당산', '동작', '등촌', '마곡나루(서울식물원)', '사평', '샛강', '선유도', '신논현', '신목동',
       '신반포', '신방화', '양천향교', '여의도', '염창', '증미', '흑석(중앙대입구)', '둔촌오륜',
       '봉은사', '삼성중앙', '삼전', '석촌', '석촌고분', '선정릉', '송파나루', '언주', '올림픽공원',
       '종합운동장', '중앙보훈병원', '한성백제', '마곡나루'], dtype=object)

In [49]:
# 9호선 역의 개수 확인
df[(df['호선명'] == '9호선') | (df['호선명'] == '9호선2~3단계') | (df['호선명'] == '9호선2단계')].지하철역.nunique()

39

In [50]:
# 다르게 표기된 역 이름 수정
df.replace('마곡나루(서울식물원)', '마곡나루', inplace=True)

In [51]:
# 수정된 역의 개수 확인
df[(df['호선명'] == '9호선') | (df['호선명'] == '9호선2~3단계') | (df['호선명'] == '9호선2단계')].지하철역.nunique()

38

In [52]:
df.replace(['9호선2~3단계','9호선2단계'], '9호선', inplace=True)

In [53]:
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,21시-22시 승차인원,21시-22시 하차인원,22시-23시 승차인원,22시-23시 하차인원,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,1시 이후 승차,1시 이후 하차
0,202301,1호선,동대문,717,11,9399,1791,7814,5063,11183,...,11599,11037,8798,9563,4311,7667,529,2104,5,254
1,202301,1호선,동묘앞,176,5,2429,929,3063,4244,5788,...,4077,5289,3044,5416,1264,3400,80,1320,3,330
2,202301,1호선,서울역,555,27,6560,7430,11059,41800,36434,...,78469,35664,51553,24666,21933,12316,3388,2777,69,240
3,202301,1호선,시청,95,0,2103,3753,3123,19320,6859,...,44866,7006,28432,4998,9485,3160,353,703,1,22
4,202301,1호선,신설동,273,6,7568,1962,8198,6829,18129,...,11208,12550,7695,11005,3532,7998,319,1941,4,28

## 2. 열차 혼잡도가 가장 높은 시간대 분석

### 1. 호선별로 가장 많이 승차하는 역은?

In [63]:
df_in = df[['호선명' , '지하철역']]

In [66]:
df_in['총 승차인원'] = df.iloc[:,3:].sum(axis=1)

C:\Users\user\AppData\Local\Temp\ipykernel_9012\1929110859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_in['총 승차인원'] = df.iloc[:,3:].sum(axis=1)

- 이 역의 가장 혼잡한 시간대는?

### 2. 호선별로 가장 많이 하차하는 역은?

- 이 역의 가장 혼잡한 시간대는?

### 3. 혼잡도 계산

### 4. 시각화

## 3. 혼잡도와 배차시간 사이의 관계

In [54]:
# 데이터 로드

### 1. 혼잡도가 높은 역에 대한 혼잡한 시간대의 배차간격은?

### 2. 시각화 - 혼잡도(선그래프)와 배차간격(막대그래프) 결합