# 지하철 월별 시간대별 이용현황

In [1]:
import pandas as pd

In [2]:
# 데이터 로드
df = pd.read_csv('./서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding='cp949')

## 데이터 확인 및 전처리

In [3]:
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202301,1호선,동대문,717,11,9399,1791,7814,5063,11183,...,7667,529,2104,5,254,0,0,0,0,20230203
1,202301,1호선,동묘앞,176,5,2429,929,3063,4244,5788,...,3400,80,1320,3,330,0,0,0,0,20230203
2,202301,1호선,서울역,555,27,6560,7430,11059,41800,36434,...,12316,3388,2777,69,235,0,5,0,0,20230203
3,202301,1호선,시청,95,0,2103,3753,3123,19320,6859,...,3160,353,703,1,22,0,0,0,0,20230203
4,202301,1호선,신설동,273,6,7568,1962,8198,6829,18129,...,7998,319,1941,3,28,1,0,0,0,20230203

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56951 entries, 0 to 56950
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           56951 non-null  int64
 1   호선명           56951 non-null  object
 2   지하철역          56951 non-null  object
 3   04시-05시 승차인원  56951 non-null  int64
 4   04시-05시 하차인원  56951 non-null  int64
 5   05시-06시 승차인원  56951 non-null  int64
 6   05시-06시 하차인원  56951 non-null  int64
 7   06시-07시 승차인원  56951 non-null  int64
 8   06시-07시 하차인원  56951 non-null  int64
 9   07시-08시 승차인원  56951 non-null  int64
 10  07시-08시 하차인원  56951 non-null  int64
 11  08시-09시 승차인원  56951 non-null  int64
 12  08시-09시 하차인원  56951 non-null  int64
 13  09시-10시 승차인원  56951 non-null  int64
 14  09시-10시 하차인원  56951 non-null  int64
 15  10시-11시 승차인원  56951 non-null  int64
 16  10시-11시 하차인원  56951 non-null  int64
 17  11시-12시 승차인원  56951 non-null  int64
 18  11시-12시 하차인원  56951 non-null  int64
 19  12시-13시 승차인원  56951 non-null  int64
 20  12시-13시 하차인원  56951 non-null  int64
 21  13시-14시 승차인원  56951 non-null  int64
 22  13시-14시 하차인원  56951 non-null  int64
 23  14시-15시 승차인원  56951 non-null  int64
 24  14시-15시 하차인원  56951 non-null  int64
 25  15시-16시 승차인원  56951 non-null  int64
 26  15시-16시 하차인원  56951 non-null  int64
 27  16시-17시 승차인원  56951 non-null  int64
 28  16시-17시 하차인원  56951 non-null  int64
 29  17시-18시 승차인원  56951 non-null  int64
 30  17시-18시 하차인원  56951 non-null  int64
 31  18시-19시 승차인원  56951 non-null  int64
 32  18시-19시 하차인원  56951 non-null  int64
 33  19시-20시 승차인원  56951 non-null  int64
 34  19시-20시 하차인원  56951 non-null  int64
 35  20시-21시 승차인원  56951 non-null  int64
 36  20시-21시 하차인원  56951 non-null  int64
 37  21시-22시 승차인원  56951 non-null  int64
 38  21시-22시 하차인원  56951 non-null  int64
 39  22시-23시 승차인원  56951 non-null  int64
 40  22시-23시 하차인원  56951 non-null  int64
 41  23시-24시 승차인원  56951 non-null  int64
 42  23시-24시 하차인원  56951 non-null  int64
 43  00시-01시 승차인원  56951 non-null  int64
 44  00시-01시 하차인원  56951 non-null  int64
 45  01시-02시 승차인원  56951 non-null  int64
 46  01시-02시 하차인원  56951 non-null  int64
 47  02시-03시 승차인원  56951 non-null  int64
 48  02시-03시 하차인원  56951 non-null  int64
 49  03시-04시 승차인원  56951 non-null  int64
 50  03시-04시 하차인원  56951 non-null  int64
 51  작업일자          56951 non-null  int64
dtypes: int64(50), object(2)
memory usage: 22.6+ MB

In [5]:
df.호선명.unique()

array(['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선',
       '9호선2~3단계', '경강선', '경부선', '경원선', '경의선', '경인선', '경춘선', '공항철도 1호선',
       '과천선', '분당선', '수인선', '신림선', '안산선', '우이신설선', '일산선', '장항선', '중앙선',
       '9호선2단계'], dtype=object)

### 1호선 전처리

In [24]:
# 1호선 역 이름 확인
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.unique()

array(['동대문', '동묘앞', '서울역', '시청', '신설동', '제기동', '종각', '종로3가', '종로5가',
       '청량리(서울시립대입구)', '가산디지털단지', '관악', '광명', '구로', '군포', '금정', '금천구청',
       '남영', '노량진', '당정', '대방', '독산', '두정', '명학', '병점', '서동탄', '서정리',
       '석수', '성균관대', '성환', '세류', '세마', '송탄', '수원', '신길', '신도림', '안양',
       '영등포', '오산', '오산대', '용산', '의왕', '직산', '진위', '천안', '평택', '평택지제',
       '화서', '가능', '광운대', '녹양', '녹천', '덕계', '덕정', '도봉', '도봉산', '동두천',
       '동두천중앙', '망월사', '방학', '보산', '석계', '소요산', '신이문', '양주', '외대앞', '월계',
       '의정부', '지행', '창동', '회룡', '간석', '개봉', '구일', '도원', '도화', '동암', '동인천',
       '백운', '부개', '부천', '부평', '소사', '송내', '역곡', '오류동', '온수', '인천', '제물포',
       '주안', '중동', '배방', '봉명', '신창', '쌍용(나사렛대)', '아산', '온양온천', '탕정'],
      dtype=object)

In [7]:
# 1호선 역의 개수(99개) 확인
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.nunique()

113

In [8]:
# 다르게 표기된 역 이름 수정
df.loc[df['지하철역'] == '쌍용동', '지하철역'] = '쌍용(나사렛대)'
df.loc[df['지하철역'] == '청량리(지하)', '지하철역'] = '청량리(서울시립대입구)'
df.loc[df['지하철역'] == '동두천 중앙', '지하철역'] = '동두천중앙'
df.loc[df['지하철역'] == '신창(순천향대)', '지하철역'] = '신창'
df.loc[df['지하철역'] == '온수(성공회대입구)', '지하철역'] = '온수'
df.loc[df['지하철역'] == '지제', '지하철역'] = '평택지제'
df.loc[df['지하철역'] == '청량리(지상)', '지하철역'] = '청량리'
df.loc[df['지하철역'] == '왕십리(성동구청)', '지하철역'] = '왕십리'
df.loc[df['지하철역'] == '청량리(지상)', '지하철역'] = '청량리'
df.loc[df['지하철역'] == '이촌(국립중앙박물관)', '지하철역'] = '이촌'

In [22]:
# 잘못된 호선 수정
df.loc[(df['지하철역'] == '청량리') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '이촌') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '왕십리') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '옥수') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '한남') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '응봉') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'
df.loc[(df['지하철역'] == '서빙고') & (df['호선명'] == '경원선'), '호선명'] = '중앙선'

In [23]:
# 회기역이 빠져서 98개
df[(df['호선명'] == '1호선') | (df['호선명'] == '경원선') | (df['호선명'] == '경부선') | (df['호선명'] == '경인선') | (df['호선명'] == '장항선')].지하철역.nunique()

98

In [28]:
df.loc[(df['지하철역'].str.contains('회기'))].호선명.unique()

array(['중앙선'], dtype=object)

### 6호선 전처리

In [30]:
# 6호선 역 이름 확인
df[(df['호선명'] == '6호선')].지하철역.unique()

array(['고려대(종암)', '공덕', '광흥창(서강)', '구산', '녹사평(용산구청)', '대흥(서강대앞)', '독바위',
       '돌곶이', '동묘앞', '디지털미디어시티', '마포구청', '망원', '버티고개', '보문', '봉화산(서울의료원)',
       '불광', '삼각지', '상수', '상월곡(한국과학기술연구원)', '새절(신사)', '석계', '신내', '신당',
       '안암(고대병원앞)', '약수', '역촌', '연신내', '월곡(동덕여대)', '월드컵경기장(성산)', '응암',
       '이태원', '증산(명지대앞)', '창신', '청구', '태릉입구', '한강진', '합정', '화랑대(서울여대입구)',
       '효창공원앞', '고려대', '광흥창', '대흥', '상월곡', '새절', '안암', '월곡', '월드컵경기장',
       '증산', '화랑대'], dtype=object)

In [42]:
# 6호선 역의 개수(39개) 확인
df[(df['호선명'] == '6호선')].지하철역.nunique()

39

In [41]:
df.loc[df['지하철역'] == '고려대(종암)', '지하철역'] = '고려대'
df.loc[df['지하철역'] == '광흥창(서강)', '지하철역'] = '광흥창'
df.loc[df['지하철역'] == '대흥(서강대앞)', '지하철역'] = '대흥'
df.loc[df['지하철역'] == '상월곡(한국과학기술연구원)', '지하철역'] = '상월곡'
df.loc[df['지하철역'] == '새절(신사)', '지하철역'] = '새절'
df.loc[df['지하철역'] == '안암(고대병원앞)', '지하철역'] = '안암'
df.loc[df['지하철역'] == '월곡(동덕여대)', '지하철역'] = '월곡'
df.loc[df['지하철역'] == '월드컵경기장(성산)', '지하철역'] = '월드컵경기장'
df.loc[df['지하철역'] == '증산(명지대앞)', '지하철역'] = '증산'
df.loc[df['지하철역'] == '화랑대(서울여대입구)', '지하철역'] = '화랑대'